black {
    background: cornflowerblue; /* 뒷 배경 스타일 */
    margin:auto ; /* 블록요소과 블록요소의 간격 */
    padding: auto; /* 글자와 뒷 배경의 간격 */
    width: auto; /* 범위 크기 지정 */
    font: bold; /* 글자 관련 스타일 지정 */
    float: none; /* black 요소를 띄우는 스타일 */
    list-style-type: none; /* 리스트의 스타일 지정 */
    display: block; /* 블록요소나, 인라인요소를 지정하는 태그 */
    border: 2px solid black; /* 박스 스타일 태그(선 굵기, 선 종류, 선 색깔)순서 */
    box-shadow: -3px 3px 3px 0px; /* 그림자 넣는 스타일 태그 (x , y, 번짐, 흐림) 순서 */
    line-height: normal; /* 글자 간격 */
    text-align: center; /* 글자 위치 */ 
    border-radius: 50px; /* 테두리 곡선 만드는 태그 */
}